#body {
    width: 1250px;
    height: 1200px;
    margin: 0 auto;
}

#head {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    line-height: 50px;
}

#a {
    font-weight: bolder;
    font-size: 30px;
    float: left;
}

#b {
    padding-left: 200px;
    float: left;
}

#c {
    padding-left: 100px;
}

#d {
    background-color: lightskyblue;
    width: 100px;
    height: 50px;
    color: white;
    display: block;
    float: right;
}

#body1 {
    width: 800px;
    height: 50px;
    font-size: 30px;
    font-weight: bolder;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    margin-top: 100px;
    color: white;
}

#body2 {
    width: 300px;
    height: 100px;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 100px;
    color: white;
}

#body3 {
    width: 80px;
    height: 30px;
    margin-top: 50px;
    margin-left: 100px;
}

#e {
    background: lightskyblue;
    color: white;
    font-size: 15px;
    width: 70px;
    height: 28px;
    text-align: center;
    line-height: 28px;
}

#body4 {
    width: 1100px;
    height: 300px;
    margin-left: 150px;
    ;
    margin-top: 120px;
}

#body41 {
    width: 250px;
    height: 280px;
    margin-left: 50px;
    padding-top: 15px;
    float: left;
}

#tupian1 {
    display: block;
    width: 280px;
    height: 300px;
    margin-left: 20px;
}

#beijing {
    background-image: url('./img/qqtupian1.jpg');
    background-size: 100% 100%;
}

#bodytwo {
    width: 1250px;
    height: 1000px;
    margin: 0 auto;
}

#head2 {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

#head3 {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    margin-top: 50px;
}

#bodytwo1 {
    flex-direction: row-reverse;
    width: 400px;
    height: 270px;
    /* margin-left: 600px; */
    flex-direction: column-reverse;
    display: block;
}

#bodytwo2 {
    flex-direction: row-reverse;
    width: 400px;
    height: 270px;
    /* margin-left: 600px; */
    display: block;
}

#bodytwo3 {
    flex-direction: row-reverse;
    width: 400px;
    height: 270px;
    /* margin-left: 600px; */
    display: block;
}

#bt11 {
    width: 80px;
    height: 270px;
    float: left;
}

#bt12 {
    width: 250px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

#bt13 {
    width: 400px;
    height: 180px;
    flex-direction: row-reverse;
}

#bt21 {
    width: 80px;
    height: 270px;
    float: left;
}

#bt22 {
    width: 250px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    flex-direction: row-reverse;
}

#bt23 {
    width: 400px;
    height: 180px;
    flex-direction: row-reverse;
}

#bt31 {
    width: 80px;
    height: 270px;
    float: left;
}

#bt32 {
    width: 250px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    flex-direction: row-reverse;
}

#bt33 {
    width: 400px;
    height: 180px;
    flex-direction: row-reverse;
}

#btt {
    width: 500px;
    height: 800px;
    /* padding-left: 100px; */
}

#bodythree {
    width: 1250px;
    height: 1000px;
    margin: 0 auto;
}

#head4 {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

#head5 {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    margin-top: 50px;
}

#bodyth1 {
    width: 400px;
    height: 270px;
    float: left;
}

#bodyth2 {
    width: 400px;
    height: 270px;
    float: left;
}

#bodyth3 {
    width: 400px;
    height: 270px;
    float: left;
}

#beijing2 {
    background-image: url('./img/qqtupian3.jpg');
    background-size: 100% 100%;
    width: 350px;
    height: 270px;
}

#bodyth4 {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

#bta11 {
    width: 350px;
    height: 40px;
    text-align: center;
    font-size: 25px;
}

#bta12 {
    width: 350px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
}

.content {
    display: flex;
}

#bta21 {
    width: 350px;
    height: 40px;
    text-align: center;
    font-size: 25px;
}

#bta22 {
    width: 350px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
}

#bta31 {
    width: 350px;
    height: 40px;
    text-align: center;
    font-size: 25px;
}

#bta32 {
    width: 350px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
}

#head6 {
    width: 1250px;
    height: 350px;
    margin: 0 auto;
}

#head7 {
    width: 1250px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#btb1 {
    width: 600px;
    height: 400px;
}

#btb2 {
    width: 600px;
    height: 400px;
}

#btb11 {
    width: 600px;
    height: 300px;
    margin: 0 auto;
}

#btb12 {
    width: 600px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    color: lightblue;
}

#btb21 {
    width: 600px;
    height: 300px;
    margin: 0 auto;
}

#btb22 {
    width: 500px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    color: lightblue;
}

#bodyfour {
    width: 1250px;
    height: 600px;
    display: flex;
}

#head8 {
    width: 300px;
    height: 500px;
}

#head9 {
    width: 250px;
    height: 500px;
}

#head10 {
    width: 250px;
    height: 500px;
}

#head11 {
    width: 250px;
    height: 500px;
}

#head12 {
    width: 250px;
    height: 500px;
}

#head13 {
    width: 250px;
    height: 500px;
}

#btt11 {
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

#btt12 {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    color: white
}

#btt13 {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    color: white
}

#btt14 {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    color: white
}

#btt21 {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: white
}

#btt22 {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    color: white
}

#btt23 {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    color: white
}

#btt24 {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    color: white
}

#btt31 {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: white
}

#btt32 {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    color: white
}

#btt33 {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    color: white
}

#btt34 {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    color: white
}

#btt41 {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: white
}

#btt42 {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    color: white
}

#btt43 {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    color: white
}

#btt44 {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    color: white
}

#btt5 {
    width: 150px;
    height: 150px;
}

#btt6 {
    width: 150px;
    height: 50px;
    color: white;
    text-align: center;
}

#bg2 {
    background-image: url('./img/qqtupian2.jpg');
    background-size: 100% 100%;
}
